Repository kodratIT/SAAS-PPDB, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, documentation, frontend, backend, firebase, styles, config, ci/cd, tests, security

.github/labeler.yml:

# Auto-label PRs based on changed files

'dependencies':
  - 'package.json'
  - 'package-lock.json'
  - 'yarn.lock'

'documentation':
  - '**/*.md'
  - 'docs/**/*'

'frontend':
  - 'src/app/**/*'
  - 'src/components/**/*'

'backend':
  - 'src/app/api/**/*'
  - 'src/lib/**/*'

'firebase':
  - 'firebase/**/*'
  - 'src/lib/firebase/**/*'

'styles':
  - '**/*.css'
  - 'tailwind.config.*'

'config':
  - '*.config.*'
  - '.eslintrc.*'
  - '.prettierrc'
  - 'tsconfig.json'

'ci/cd':
  - '.github/**/*'

'tests':
  - 'tests/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'

'security':
  - 'firebase/rules/**/*'
  - '.env.example'

feat: complete environment configuration setup
  ENVIRONMENT.md
  package.json
  scripts/check-env.js
  scripts/setup-env.js
  src/config/env.ts
Labels: dependencies, documentation

feat: implement Auth Context with Firebase authentication (Task 2.1.1)
  package-lock.json
  package.json
  src/app/layout.tsx
  src/contexts/AuthContext.tsx
Labels: dependencies, frontend

feat: add JWT session management utilities (Task 2.1.2)
  src/lib/utils/auth.ts
Labels: backend

feat: create authentication API routes (Task 2.1.3)
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/session/route.ts
  src/lib/firebase/collections/users.ts
  src/lib/utils/auth.ts
Labels: frontend, backend, firebase

feat: create auth layout and login page (Task 2.2.1)
  package-lock.json
  package.json
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/page.tsx
  src/components/auth/GoogleLoginButton.tsx
  src/components/auth/LoginForm.tsx
  src/components/auth/PasswordInput.tsx
  src/components/ui/checkbox.tsx
Labels: dependencies, frontend

feat: create registration page with validation (Task 2.2.2)
  src/app/(auth)/register/page.tsx
  src/components/auth/PasswordStrengthMeter.tsx
  src/components/auth/RegisterForm.tsx
Labels: frontend

feat: create forgot password, reset password, and email verification pages (Task 2.2.3)
  src/app/(auth)/forgot-password/page.tsx
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/verify-email/page.tsx
Labels: frontend

feat: define RBAC permissions and roles (Task 2.3.1)
  src/lib/rbac/permissions.ts
  src/lib/rbac/roles.ts
Labels: backend

feat: implement RBAC middleware for route protection (Task 2.3.2)
  src/app/unauthorized/page.tsx
  src/lib/rbac/middleware-config.ts
  src/middleware.ts
Labels: frontend, backend

feat: create permission hooks and guards (Task 2.3.3)
  src/components/auth/PermissionGuard.tsx
  src/hooks/usePermissions.ts
  src/hooks/useRequireAuth.ts
Labels: frontend

feat: create super admin layout with sidebar and header (Task 2.4.1)
  src/app/super-admin/layout.tsx
  src/components/super-admin/Header.tsx
  src/components/super-admin/Sidebar.tsx
Labels: frontend

feat: create dashboard stats and overview page (Task 2.4.2)
  src/app/api/super-admin/stats/route.ts
  src/app/super-admin/dashboard/page.tsx
  src/components/dashboard/StatsCard.tsx
Labels: frontend, backend

feat: create subscription plan management UI (Task 2.5.2)
  package-lock.json
  package.json
  src/app/super-admin/plans/page.tsx
  src/components/plans/DeletePlanDialog.tsx
  src/components/plans/PlanCard.tsx
  src/components/plans/PlanForm.tsx
Labels: dependencies, frontend

fix: skip middleware for API routes to prevent JSON parse error
  src/app/api/auth/login/route.ts
  src/middleware.ts
Labels: frontend, backend

fix: add better error handling and exclude api from matcher
  src/contexts/AuthContext.tsx
  src/middleware.ts
Labels: none

fix: use Firebase Admin SDK for Firestore in login API
  src/app/api/auth/login/route.ts
Labels: frontend, backend

feat: install and configure NextAuth.js with Firebase (Task 2.6.1)
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/test-firebase/route.ts
  src/auth.ts
  src/types/next-auth.d.ts
Labels: dependencies, frontend, backend

feat: update AuthContext to use NextAuth session (Task 2.6.2)
  src/app/layout.tsx
  src/contexts/AuthContext.tsx
Labels: frontend

feat: update middleware to use NextAuth session (Task 2.6.3)
  src/middleware.ts
Labels: none

feat: update components to use NextAuth session (Task 2.6.4)
  src/components/super-admin/Header.tsx
  src/hooks/usePermissions.ts
  src/hooks/useRequireAuth.ts
Labels: frontend

fix: resolve Edge Runtime compatibility issue with NextAuth
  src/app/api/auth/google-sync/route.ts
  src/auth.ts
  src/contexts/AuthContext.tsx
Labels: frontend, backend

fix: remove SessionProvider to resolve ClientFetchError
  src/app/layout.tsx
  src/components/super-admin/Header.tsx
  src/contexts/AuthContext.tsx
  src/hooks/usePermissions.ts
  src/hooks/useRequireAuth.ts
Labels: frontend
